:root {
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-gray: #32425C;
    --basic-gray-top: #F3F7F9;
    --basic-red: #EE3643;
    --basic-gray-toggle: #ababab;
    --basic-green: #00ca74;
    --basic-gray-scale: #d7dcde;

    /* .top-header */
    --top-header-blue-rest: #293449;
    --top-header-blue-active: #161D29;

    /* .main-header */
    --main-header-color: rgba(0, 0, 0, 0.0001);

    /* .logo */
    --logo-red: #EE3643;
    --logo-red-active: #BA2732;
    --logo-box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);

    /* .search */
    --search-white: #FFFFFF;

    /* .basket */
    --basket-red: #EE3643;

    /* .checkout */
    --checkout-green: #63A63E;
    --checkout-green-hover: #5FBB2D;

    /* .info-header */
    --info-header-red: #EE3643;
    --info-header-grey: #32425C;

    /* .phone */
    --phone-border: 3px solid #FFFFFF;;

    /* .account */
    --account-black-rest: #000000;
    --account-red-hover: #EE3643;
    --account-gray-active: #C5C5C5;

    /* .main-navigation*/
    --main-navigation-blue-rest: #32425C;
    --main-navigation-blue-hover: #293449;
    --main-navigation-blue-active: #1D2739;
    --main-navigation-box-shadow: inset 0px -5px 0px #293449;

    /*.information */
    --materials-orange: #FFBF47;
    --instruments-blue: #3BBCE3;
    --technics-violet: #DC91D8;
    --discounts-green: #8ED78F;
    --container-delivery-orange: #FFC047;

    /* .information-button */
    --information-button-reset: #ffffff50;
    --information-button-hover: #c5c5c550;
    --information-button-active: #a9a9a950;

    /* .slider-paragraph */
    --slider-paragraph: rgba(0, 0, 0, 0.25);

    /* .slider-button */
    --slider-button-reset: #EE3643;
    --slider-button-hover: #CA2C37;
    --slider-button-active: #BA2732;

    /* .popular-headline */
    --popular-beige: #F9F5F0;
    --popular-button-red: #EE3643;
    --popular-gray: #32425C;

    /* .price */
    --price-red: #EE3643;

    /* .price-not */
    --price-not-gray: #A9A9A9;

    /* .buy */
    --buy-green-reset: #63A63E;
    --buy-green-hover: #5FBB2D;
    --buy-green-active: #518534;

    /* .bookmarks border */
    --bookmarks-border-reset: 3px solid #63A63E;
    --bookmarks-border-hover: 3px solid #32425C;
    --bookmarks-border-active: 3px solid #32425C;

    /* .services */
    --services-gray: #F1F5F7;

    /* .list-services-button */
    --list-services-button-rest: #32425C;
    --list-services-button-hover: #293449;
    --list-services-button-active: #FFFFFF;
    --list-services-button-box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;

    /* .info-technomart-button */
    --info-technomart-button-red: #EE3643;

    /* .footer-info */
    --footer-info-blue: #32425C;

    /* .footer-list-nav */
    --footer-list-nav-1: #F1F5F7;
    --footer-list-nav-2: #FFD180;

    /* .footer-contacts */
    --footer-contacts: #F3F7F9;

    /* .footer-social */
    --social-blue: linear-gradient(0deg, #212A3A, #212A3A);
    --social-red: #EE3643;

    /* .footer-connection */
    --footer-connection: #293449;

    /*.footer-feedback */
    --basic-orange: #FFD180;
    --basic-red: #EE3643;

    /* .catalog-headline */
    --catalog-headline: #F2F6F8;

    /* .form-headline */
    --form-headline: #F7F3EC;

    /* .buy */
    --buy-grey-rest: #63A63E;
    --buy-grey-hover: #5FBB2D;
    --buy-grey-active: #518534;

    /* .bookmarks */
    --bookmarks-border-rest: 3px solid #63A63E;
    --bookmarks-border-hover: 3px solid #32425C;
    --bookmarks-border-active: 3px solid #32425C;

    /* .pagination */
    --pagination-border-rest: 1px solid #E5E5E5;
    --pagination-border-hover: 1px solid #C5C5C5;
    --pagination-border-active: 1px solid #EE3643;

    /* .perforator-info */
    --perforator-info-background: #F1F5F7;

    /* .popular-manufacturers */
    --popular-manufacturers-border-img: 1px solid #EAEAEA;
    --popular-manufacturers-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);

    /* .filter-list */
    --filter-list-border-bottom: 1px dotted #ee3643;
    --filter-list-dorder-bottom-hover: 1px solid #ee3643;

    /* .catalog-filter-button */
    --catalog-filter-button-border: 1px solid #E5E5E5;

    /* .toggle */
    --toggle-shadow: #cfcfcf
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    background-color: var(--basic-white);
}

.main-header {
    background-color: var(--main-header-color);
}

.top-header {
    display: flex;
    background-color: var(--top-header-blue-rest);
    color: var(--basic-white);
    width: 940px;
    height: 42px;
    margin: 0 auto;
    padding: 0 10px;
}

.top-header a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

.top-header input {
    background-color: var(--top-header-blue-rest);
}

.logo {
    background-color: var(--logo-red);
    box-shadow: var(--logo-box-shadow);
    padding: 12px 56px;
}

.logo:active {
    background-color: var(--logo-red-active);
}

.checkout:hover {
    background-color: var(--checkout-green-hover);
}

.header-bookmarks {
    position: relative;
    padding: 9px 30px 9px 43px;
    margin: 0;
}

.basket {
    position: relative;
    padding: 9px 30px 9px 43px;
    margin: 0;
}

.checkout {
    background-color: var(--checkout-green);
    position: relative;
    padding: 9px 16px;
    margin: 0;
}

.menu-search {
    position: relative;
    display: inline-block;
}

.menu-search input {
    background-image: url(../img/icon-search.svg);
    background-position: 5% 50%;
    background-repeat: no-repeat;
    opacity: 0.5;
    height: 32px;
    width: 225px;
    border: none;
    padding: 5px 0 5px 40px;
    color: var(--basic-white);
}

.menu-search input::-webkit-input-placeholder {
    color: var(--basic-white);
    opacity: 1;
}

.menu-search input::-moz-placeholder {
    color: var(--basic-white);
    opacity: 1;
}

.menu-search input:hover {
    opacity: 1;
}

.menu-search input:focus {
    opacity: 1;
    background-color: var(--basic-white);
    background-image: url(../img/icon-search-red.svg);
    background-position: 5% 50%;
    background-repeat: no-repeat;
    color: var(--basic-black);
}

.menu-search .search {
    display: none;
    margin-left: 40px;
    position: absolute;
    top: 11px;
    left: 0
}

.header-bookmarks::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmarks.svg");
    background-repeat: no-repeat;
    left: 10px;
    top: 13px;
    opacity: 0.5;
}

.header-bookmarks:hover::before {
    opacity: 1;
}

.header-bookmarks:active {
    background-color: var(--top-header-blue-active);
}

.basket::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    left: 10px;
    top: 13px;
    opacity: 0.5;
}

.basket:hover::before {
    opacity: 1;
}

.basket:active {
    background-color: var(--top-header-blue-active);
}

.top-header input:active {
    background-color: var(--basic-white);
}

.info-header-top {
    height: 278px;
    background-color: var(--basic-gray-top);
    margin-bottom: 59px;
}

.info-header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 940px;
    height: 158px;
    margin: 0 auto;
    padding: 0 10px;
}

.info-header-paragraph {
    color: var(--basic-red);
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 36px;
    margin-top: 36px;
}

.info-header-address {
    margin-top: 46px;
}

.account {
    margin-top: 46px; 
}

.phone {
    color: var(--basic-red);
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    border: var(--phone-border);
    padding: 10px 40px 10px 70px;
    margin: 0 0 10px 0;
    position: relative;
}

.phone::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 19px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    top: 13px;
    left: 35px;
}

.entrance,
.registration {
    background-color: var(--basic-white);
}

.header-address {
    color: var(--basic-gray);
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--basic-white);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.entrance,
.registration {
    font-size: 21px;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--account-black-rest);
    position: relative;
}

.entrance {
    padding: 10px 27px 10px 45px;
}

.entrance::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 17px;
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    left: 20px;
    top: 14px;
    opacity: 0.5;
}

.entrance:hover::before {
    opacity: 1;
}

.entrance:active::before {
    opacity: 0.5;
}

.registration {
    padding: 10px 24px 10px 22px;
}

.entrance:hover,
.registration:hover {
    color: var(--account-red-hover);
}

.entrance:active,
.registration:active {
    color: var(--account-gray-active);
}

.main-navigation {
    background-color: var(--main-navigation-blue-rest);
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    box-shadow: var(--main-navigation-box-shadow);
}

.main-navigation a {
    color: var(--basic-white);
}

.main-navigation a:hover {
    background-color: var(--main-navigation-blue-hover);
}

.main-navigation a:active {
    background-color: var(--main-navigation-blue-active);
}

.main-navigation-list {
    width: 940px;
    height: 60px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-navigation-list li {
    display: inline-block;
}

.main-navigation-list a {
    font-size: 18px;
    line-height: 24px;
    display: block;
    padding: 20px 25px 10px 25px;
    margin: 0 3px;
}

.materials {
    background-color: var(--materials-orange);
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
    background-position: 213px 31px;
}

.instruments {
    background-color: var(--instruments-blue);
    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
    background-position: 194px 34px;
}

.technics {
    background-color: var(--technics-violet);
    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
    background-position: 191px 31px;
}

.discounts {
    background-color: var(--discounts-green);
    background-image: url(../img/icon-4.svg);
    background-repeat: no-repeat;
    background-position: 196px 26px;
}

.delivery {
    background-color: var(--container-delivery-orange);
    background-image: url(../img/icon-5.svg);
    background-repeat: no-repeat;
    background-position: 191px 32px;
}

.information {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;
    color: var(--basic-white);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 59px;
}

.information-button {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    background-color: var(--information-button-reset);
    mix-blend-mode: normal;
    color: var(--basic-white);
    margin-left: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 38px;
    text-transform: uppercase;
}

.information-button:hover {
    background-color: var(--information-button-hover);
    mix-blend-mode: normal;
}

.information-button:active {
    background-color: var(--information-button-active);
    mix-blend-mode: normal;
}

.slider {
    grid-column: 1/3;
    grid-row: 2/4;
    position: relative;
}

.slider-top {
    margin: 0;
    padding: 0;
}

.slide-item {
    display: none;
}

.slide-current {
    display: block;
}

.buttons-back-forward button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.back {
    position: absolute;
    background-image: url(../img/icon-left.svg);
    width: 23px;
    height: 41px;
    background-repeat: no-repeat;
    top: 122px;
    left: 25px;
}

.forward {
    position: absolute;
    background-image: url(../img/icon-left.svg);
    width: 23px;
    height: 41px;
    background-repeat: no-repeat;
    top: 122px;
    right: 20px;
    transform: rotate(180deg);
}


.slider-paragraph {
    background-color: var(--slider-paragraph);
    position: absolute;
    width: 620px;
    height: 104px;
}

.slider-name {
    color: var(--basic-white);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 23px;
    margin-left: 24px;
    margin-bottom: 0;
}

.slider-info {
    color: var(--basic-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: none;
    margin-left: 24px;
    margin-top: 5px;
}

.slider-dots {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 46px;
    left: 295px;
    width: 30px;
    height: 10px;
    padding: 0;
    margin: 0;
}

.slider-dot {
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
    border-color: transparent;
}

.slider-dot:last-child {
    margin-right: 10px;
}

.slider-dot-active {
    background-color: var(--basic-red);
    border-radius: 50%;
    border: 2px solid var(--basic-white);
}

.slider-button {
    background-color: var(--slider-button-reset);
    text-transform: uppercase;
    width: 100px;
    height: 18px;
    position: absolute;
    bottom: 27px;
    left: 24px;
    padding: 11px 46px 9px 46px;
}

.slider-button:hover {
    background-color: var(--slider-button-hover);
}

.slider-button:active {
    background-color: var(--slider-button-active);
}

.popular {
    margin-bottom: 70px;
}

.popular-headline {
    display: grid;
    grid-template-columns: 708px 232px;
    background-color: var(--popular-beige);
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--popular-gray);
    text-transform: uppercase;
    height: 89px;
}

.popular-headline h2 {
    margin-left: 28px;
}

.popular-button {
    background-color: var(--popular-button-red);
    text-transform: uppercase;
    width: 144px;
    height: 18px;
    margin-top: 25px;
    margin-left: 24px;
    padding: 11px 24px 9px 24px;
}

.manufacturers-button {
    background-color: var(--popular-button-red);
    text-transform: uppercase;
    width: 115px;
    height: 18px;
    padding: 11px 38px 9px 39px;
    margin-top: 25px;
    margin-left: 24px;
}

.popular-button:hover,
.manufacturers-button:hover {
    background-color: var(--slider-button-hover);
}

.popular-button:active,
.manufacturers-button:active {
    background-color: var(--slider-button-active);
}

.popular-goods {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    gap: 20px;
    padding: 0;
    margin-top: 20px;
}

.goods-card {
    display: grid;
    grid-template-rows: 175px 45px 98px;
}

.goods-card:hover {
    box-shadow: var(--popular-manufacturers-box-shadow);
}

.goods-card:hover img {
    display: none;
}

.goods-card:hover .buy-bookmarks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goods-card .bookmarks {
    margin-bottom: 54px;
}

.goods-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-card-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goods-card-name h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    width: 157px;
    height: 41px;
}

.goods-card-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.new {
    position: relative;
}

.new::before {
    background-image: url(../img/new.svg);
    background-repeat: no-repeat;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 67px;
    height: 67px;
}

.popular-goods h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.popular-goods p {
    font-size: 17px;
    line-height: 18px;
}

.price {
    padding: 10px 0 10px 40px;
    background-image: url(../img/red-button.svg);
    background-repeat: no-repeat;
    color: var(--basic-white);
    width: 141px;
    height: 38px;
    margin-top: auto;
    margin-bottom: 0;
    margin-left: 45px;
}

.price-not {
    color: var(--price-not-gray);
    text-decoration-line: line-through;
}

.services {
    background-color: var(--services-gray);
    height: 522px;
}

.services-container {
    background-color: var(--services-gray);
}

.services h2 {
    text-transform: uppercase;
    margin-top: 64px;
}

.services h3 {
    color: var(--list-services-button-rest);
    text-transform: uppercase;
}

.list-services {
    position: relative;
    margin: 0;
    padding: 0;
}

.list-services::before {
    content: "";
    position: absolute;
    background-image: url(../img/servise.png);
    background-repeat: no-repeat;
    height: 279px;
    width: 10px;
    right: 0;
    top: -30px;
    z-index: 10;
}


.list-services-button {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    display: block;
    width: 200px;
    padding: 20px;
    margin-bottom: 1px;
    background-color: var(--list-services-button-rest);
    box-shadow: var(--list-services-button-box-shadow);
}

.list-services-button:hover {
    background-color: var(--list-services-button-hover);
}

.list-services-button:active {
    background-color: var(--list-services-button-active);
    color: var(--list-services-button-rest);
}

.list-services-current {
    background-color: var(--basic-white);
    box-shadow: none;
    color: var(--basic-gray);
}

.list-services-current:hover {
    background-color: var(--basic-white);
    color: var(--basic-gray);
}

.list-services-current:active {
    background-color: var(--basic-white);
    color: var(--basic-gray);
}

.info-technomart {
    display: grid;
    grid-template-columns: 460px 300px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.info-technomart h2,
.info-technomart h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.info-technomart p {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.info-technomart-button-top {
    background-color: var(--info-technomart-button-red);
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    width: 140px;
    height: 18px;
    padding: 11px 40px 9px 40px;
}

.info-technomart-button {
    background-color: var(--info-technomart-button-red);
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    width: 177px;
    height: 18px;
    padding: 11px 61px 9px 61px;
}

.page-footer {
    color: var(--basic-white);
    margin-top: 70px;
    margin: 0;
}

.footer-info {
    background-color: var(--footer-info-blue);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    background-color: var(--footer-info-blue);
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer-list-nav-menu-top a {
    color: var(--footer-list-nav-1);
}

.footer-list-nav-menu-bottom a {
    color: var(--footer-list-nav-2);
}

.footer-list-menu a:hover {
    text-decoration-line: underline;
}

.footer-list-menu a:active {
    mix-blend-mode: normal;
    opacity: 0.5;
}

.footer-list-menu-top {
    display: flex;
    justify-content: flex-end;
    margin-top: 37px;
    margin-bottom: 34px;
}

.footer-list-menu-top li {
    margin-left: 59px;
}

.footer-list-menu-bottom {
    display: flex;
    justify-content: flex-end;
}

.footer-list-menu-bottom li {
    margin-left: 59px;
}

.footer-list-menu-bottom a {
    color: var(--basic-orange);
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    color: var(--footer-contacts);
    width: 325px;
}

.footer-logo {
    background-color: var(--logo-red);
    box-shadow: var(--logo-box-shadow);
    padding: 20px 41px 25px 41px;
    width: 138px;
}

.footer-logo:active {
    background-color: var(--logo-red-active);
}

.company-rights {
    width: 260px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--footer-connection);
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer-connection {
    background-color: var(--footer-connection);
}

.mail,
.website {
    color: var(--basic-orange);
}

.mail:hover,
.website:hover {
    text-decoration-line: underline;
}

.mail:active,
.website:active {
    color: var(--basic-red);
    text-decoration: none;
}

.catalog-basket {
    background-color: var(--basic-red);
}

.user {
    position: relative;
    color: var(--basic-black);
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
}

.user:active {
    opacity: 0.5;
}

.user::before {
    position: absolute;
    content: "";
    background-image: url(../img/icon-user.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
    opacity: 0.5;
    left: -40px;
}

.user:hover::before {
    opacity: 1;
}

.user:active::before {
    opacity: 0.5;
}

.user-orders,
.user-profile {
    color: var(--basic-gray);
}

.user-profile {
    position: relative;
}

.user-profile::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--basic-gray);
    top: 6px;
    left: -15px;
}

.user-orders:hover,
.user-profile:hover {
    color: var(--basic-red);
}

.user-profile:hover::before {
    background-color: var(--basic-red);
}

.user-orders:active,
.user-profile:active,
.user-profile:active::before {
    opacity: 0.5;
}

.breadcrumbs a {
    position: relative;
    color: var(--basic-black);
    text-transform: uppercase;
}

.breadcrumbs a::before {
    position: absolute;
    content: "";
    background-image: url(../img/icon-right-small.svg);
    width: 7px;
    height: 11px;
    left: -20px;
    top: 3px;
}

.catalog-headline {
    background-color: var(--catalog-headline);
    color: var(--basic-gray);
    text-transform: uppercase;
    padding: 29px 739px 30px 29px;
}

.form-headline {
    background-color: var(--form-headline);
    padding: 10px 151px 10px 18px;
    margin: 0;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.catalog-filter-list {
    padding: 0;
    margin: 0;
}

.form-section {
    border-bottom: var(--catalog-filter-button-border);
}

.form-section:last-child {
    border-bottom: none;
}

.catalog-filter-button {
    width: 100%;
    height: 38px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic-white);
    border: var(--catalog-filter-button-border);
    box-sizing: border-box;
    margin-top: 15px;
}

.form-headline-filter {
    height: 38px;
    display: flex;
    align-items: center;
    background-color: var(--form-headline);
    text-transform: uppercase;
}

.form-headline-filter h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    margin-left: 20px;
    margin-right: 140px;
}

.filter-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.filter-direction-list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 46px;
    width: 43px;
    height: 11px;
}

.increase {
    position: relative;
}

.increase::before {
    position: absolute;
    content: "";
    background-image: url(../img/icon-down-dir.svg);
    background-repeat: no-repeat;
    width: 11px;
    height: 10px;
    opacity: 0.5;
}

.increase:hover::before {
    opacity: 1;
}

.increase:active::before {
    background-image: url(../img/icon-down-dir-red.svg);
}

.decrease {
    position: relative;
}

.decrease::before {
    position: absolute;
    content: "";
    background-image: url(../img/icon-down-dir.svg);
    background-repeat: no-repeat;
    width: 11px;
    height: 10px;
    opacity: 0.5;
    transform: rotate(180deg);
    right: -21px;
}

.decrease:hover::before {
    opacity: 1;
}

.decrease:active::before {
    background-image: url(../img/icon-down-dir-red.svg);
}

.active::before {
    background-image: url(../img/icon-down-dir-red.svg);
    opacity: 1;
}

.filter-item {
    border-bottom: var(--filter-list-border-bottom);
    color: var(--basic-black);
    opacity: 0.3;
}

.filter-item:hover {
    border-bottom: var(--filter-list-dorder-bottom-hover);
}

.filter-item:hover {
    color: var(--basic-black);
    opacity: 1;
}

.filter-item:active {
    border: none;
}

.filter-item:active {
    color: var(--basic-red);
}

.filter-item-active {
    color: var(--basic-red);
    border-bottom: none;
    opacity: 1;
}

.filter-item-active:hover {
    color: var(--basic-red);
    border-bottom: none;
    opacity: 1;
}

.filter-item-active:active {
    color: var(--basic-red);
    border-bottom: none;
    opacity: 1;
}

.buy:hover {
    background-color: var(--buy-green-hover);
}

.buy:active {
    background-color: var(--buy-green-active);
}

.bookmarks {
    border: var(--bookmarks-border-reset);
    color: var(--basic-gray);
    padding: 9px 32px 7px 31px;
}

.bookmarks:hover {
    border: var(--bookmarks-border-hover);
}

.bookmarks:active {
    border: var(--bookmarks-border-active);
}

.pagination {
    display: flex;
    padding: 0;
    margin: 48px 0 59px 0;
}

.pagination li {
    display: flex;
    margin-right: 10px;
}

.page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--basic-black);
    border: var(--pagination-border-rest);
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    width: 38px;
    height: 38px;
}
.page-button-active {
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.page-button-next {
    width: 140px;
}

.page-button:hover {
    border: var(--pagination-border-hover);
}

.page-button:active {
    background-color: var(--basic-red);
    border: var(--pagination-border-active);
}

.perforator-info {
    background-color: var(--perforator-info-background);
    height: 261px;
}

.perforator-info-top {
    background-color: var(--perforator-info-background);
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.perforator-info-top h2 {
    padding-top: 64px;
}

.perforator-info h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.perforator-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.popular-manufacturers {
    display: grid;
    gap: 20px;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 145px 145px;
    padding: 0px;
}

.popular-manufacturers li,
.popular-goods li,
.products-list li {
    border: var(--popular-manufacturers-border-img);
    box-sizing: border-box;
}

.popular-manufacturers a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-manufacturers a:hover {
    box-shadow: var(--popular-manufacturers-box-shadow);
}

.popular-manufacturers a:active {
    opacity: 0.3;
}

.page {
    height: 100%;
}

.header-navigation {
    background-color: var(--top-header-blue-rest);
    height: 42px;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.slider ul,
.info-technomart-top ul,
.footer-social ul,
.catalog-filter ul,
.main-navigation-list,
.popular-goods,
.popular-manufacturers,
.list-services,
.footer-list-menu-top,
.footer-list-menu-bottom,
.breadcrumbs,
.catalog-filter ul,
.catalog-sorting ul,
.footer-list-menu ul {
    list-style: none;
}

.service-delivery,
.service-guarantee,
.service-credit {
    display: none;
    margin-left: 80px;
    width: 619px;
    height: 283px;
}

.service-delivery {
    background-image: url(../img/auto.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.service-guarantee {
    background-image: url(../img/medal.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.service-credit {
    background-image: url(../img/credit.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.service-active {
    display: block;
}

.services {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: 1fr 2fr;
}

.services-top {
    grid-column: 1/3;
}

.list-services-wrapper {
    grid-row: 2/3;
    margin-top: 25px;
}

.service-active {
    grid-row: 2/3;
}

.breadcrumbs {
    position: relative;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 42px;
    margin-left: 10px;
}

.breadcrumbs::before {
    position: absolute;
    content: "";
    background-image: url(../img/icon-home.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 12px;
    left: -11px;
    top: 6px;
}

.products-list {
    display: grid;
    grid-template-columns: 220px 220px 220px;
    gap: 20px;
    padding: 0;
    margin: 28px 0 0 0;
}

.catalog-headline-filter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.catalog-filter {
    width: 220px;
}

.catalog-filter h3 {
    text-transform: uppercase;
}

.catalog-sorting {
    width: 700px;
}

.footer-social ul {
    display: grid;
    grid-template-columns: 44px 44px 44px;
    gap: 4px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    line-height: 43px;
    border-radius: 50%;
    background: var(--social-blue);
}

.social:hover,
.social:active {
    background: var(--social-red);
}

.footer-feedback {
    display: grid;
    grid-template-columns: 140px 115px;
    gap: 50px;
}

.catalog-account  {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 70px;
}

.catalog-account-top {
    background-color: var(--basic-white);
    padding: 12px 57px 7px 56px;
}

.exit {
    position: relative;
}

.exit::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 17px;
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    opacity: 0.5;
    left: 15px;
}

.exit:hover::before {
    opacity: 1;
}

.exit:active::before {
    opacity: 0.5;
}

.user-orders {
    margin-left: 44px;
    margin-right: 30px;
}

.information-name {
    margin-left: 22px;
    margin-bottom: 14px;
    margin-top: 20px;
}

.goods-card .price-not {
    width: 65px;
    height: 18px;
    margin: 8px 0 0 0;
}

.buy-bookmarks {
    display: none;
    position: absolute;
    width: 220px;
    height: 175px;
}

.buy,
.bookmarks {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.buy {
    position: relative;
    padding: 10px 40px 10px 53px;
    margin-bottom: 10px;
    margin-top: 38px;
    background-color: var(--buy-green-reset);
    box-shadow: inset 0px -3px 0px #367315;
}

.buy::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    left: 30px;
    top: 10px;
    opacity: 0.5;
}

.list-delivery-company {
    margin: 0 0 20px 0;
    padding: 0;
}

.delivery-company {
    padding-left: 37px;
    position: relative;
}

.delivery-company::before {
    content: "";
    position: absolute;
    background-color: var(--basic-red);
    left: 0;
    top: 11px;
    width: 25px;
    height: 2px;
}

.info-technomart-top h2 {
    margin: 0;
}

.contacts-map {
    margin-left: 180px;
    width: 300px;
}

.contacts-map h3 {
    margin: 0;
}

.contacts-map p {
    width: 180px;
    margin-top: 24px;
}

.contacts-map img {
    margin-bottom: 25px;
}

.info-technomart-paragraph-top {
    margin-top: 24px;
}

.info-technomart-paragraph-bottom {
    margin-top: 40px;
    margin-bottom: 1px;
}

.range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 30px;
    background: var(--form-headline);
    border-radius: 5px;
    overflow: hidden;
}
  
.range-controls .scale {
    margin-top: 39px;
    height: 2px;
    background: var(--basic-gray-scale);
}
  
.range-controls .bar {
    height: 2px;
    background: var(--basic-green);
    width: 80%;
}
  
.range-controls .toggle {
    width: 4px;
    height: 4px;
    border: 8px solid var(--basic-white);
    background: var(--basic-gray-toggle);
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
    border-radius: 50%;
    -moz-box-shadow: 0 2px 1px 0 var(--toggle-shadow);
    -webkit-box-shadow: 0 2px 1px 0 var(--toggle-shadow);
    box-shadow: 0 2px 1px 0 var(--toggle-shadow);
}
  
.range-controls .max-toggle {
    left: 145px;
}
  
.price-controls input {
    width: 95px;
    height: 38px;
    border: none;
    background: var(--form-headline);
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    border-radius: 5px;
}
  
.price-controls .min-price {
    margin-right: 5px;
}
  
.price-controls {
    white-space: nowrap;
    margin-bottom: 25px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox,
.radiobutton {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    margin-left: 35px;
    margin-bottom: 20px;
}

.checkbox label,
.radiobutton label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.checkbox-input + label::before {
    position: absolute;
    content: "";
    background-image: url(../img/checkbox.svg);
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    left: -35px;
}

.checkbox-input:checked + label::before {
    position: absolute;
    content: "";
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    width: 27px;
    height: 23px;
    left: -35px;
}

.radiobutton-input + label::before {
    position: absolute;
    content: "";
    background-image: url(../img/radiobutton.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 27px;
    left: -35px;
}

.radiobutton-input:checked + label::before {
    position: absolute;
    content: "";
    background-image: url(../img/radio-on.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 27px;
    left: -35px;
}